{# ARQUIVO CORE / NÃO ALTERAR #}
{# ARQUIVO CORE / NÃO ALTERAR #}
{# ARQUIVO CORE / NÃO ALTERAR #}
{# ARQUIVO CORE / NÃO ALTERAR #}
{# ARQUIVO CORE / NÃO ALTERAR #}

    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 content-list" id="blog-content">
        <div class="row blog-interna">
            {#
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 blog-destaque">
                <div class="destaque"><img src="/img/placeholders/blog-placeholder.jpg"></div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 blog-content">
            #}
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blog-content">
                <h2>{{content.Titulo}}</h2>
                <h5 class="categoria_data"><span class='data'>{{content.Data|date("d/m/Y")}}</span> - {{content.CategoriaNome}}</h5>
                <span class="text-body">{{content.Conteudo|raw}}</span>
                <span class="autor">{{content.Autor}} {%if(content.Fonte)%}/ fonte: {{content.Fonte}}{%endif%}</span>
            </div>
            
            
            {% if content.Imagens[0] %}
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blog-galeria">
                <h3>Galeria</h3>
                {% include ['custom.helpers.slide-light-gal','core.helpers.slide-light-gal'] with {item:content, data:data} %}
            </div>        
            {% endif %}
            
        </div>
    </div>
            
    <div class="col-lg-4 col-md-4 hidden-sm hidden-xs">
        <!-- MAIS ACESSADAS -->
        <div class="mais-acessadas">
            {% include ['custom.helpers.blog-maisacessadas','core.helpers.blog-maisacessadas'] with {content:listContent} %}
        </div>        

        <!-- CONTATAR -->
        <div class="row-box contact">
            {% include ['custom.helpers.formulario-newsletter','core.helpers.formulario-newsletter'] %}
        </div>        
    </div>     
        
{# ARQUIVO CORE / NÃO ALTERAR #}
{# ARQUIVO CORE / NÃO ALTERAR #}
{# ARQUIVO CORE / NÃO ALTERAR #}
{# ARQUIVO CORE / NÃO ALTERAR #}
{# ARQUIVO CORE / NÃO ALTERAR #}
