{% if content is not null %}

<div class="vitrine emp_vitrine home-vitrine-imoveis d-none" id="home-vitrine-locacao">
    <div class="container">
{# 
        <h2>{{Lançamentos em Destaque}}</h2> #}
        <h2>{{content.Titulo}}</h2>

        <pre>
            {{ dump(content) }}
        </pre>
        <div class="product_item_sec row mx-0">
            
            <div class="col-sm-12 px-0">
                <div id="owl-home-vitrine2" class="owl-carousel">
                {% for entry in content.Itens %}

                    {% if ( loop.index == 1 or loop.index0 is divisibleby(2) ) and entry|length > 5 %}
                    <div class="item"> <!-- item duplo -->
                    {% endif %}
                    
                    {% set image_url = data.IMG_PATH ~ "/thumb/" ~ entry.ID ~ ".jpg" %}
                    {% if entry.UrlTrack %}
                        {% set product_url = "/lancamento/" ~ entry.UrlTrack ~ "/ID-" ~ entry.ID %}
                    {% else %}
                        {% set product_url = "/lancamento/oferta/ID-" ~ entry.ID %}
                    {% endif %}

                    <div class="product_itemBx mb-4 item-id-{{entry.ID}}" onclick="window.location.href='{{product_url}}'" style="cursor:pointer;"><!-- item unico -->

                        <div class="product_itemBxTop">
                            <a class="vit_link_foto">
                                <div class="pdct_pic">
                                    <div class="vitrine-venda-img owl-lazy" data-src="{{entry.ImageUrl|replace({'http://': 'https://'})}}">
                                        <div class="hover_img"></div>        
                                        <div class="statustag tag_obra">
                                            <span class="text"> <i class="fas fa-map-marker-alt"></i> {{entry.BairroNome}}</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="product_itemBxBot">
                            
                            <div class="tipos"><span>{{entry.Tipos|default(entry.TipoNome)}}</span></div>
                            <h3 class="">{{ entry.Nome ? entry.Nome : entry.NaturezaNome }}</h3>
                             <div class="content_imv_caract mx-0">
                                {% if entry.Quartos %}
                                    <div class="item wt-100" data-toggle="tooltip" title="Quartos">
                                        <i class="fas fa-bed"></i>
                                        <div class="qtd">{{entry.Quartos}}</div>
                                    </div>
                                {% endif %}
                                
                                {% if entry.M2Menor or entry.M2Maior %}
                                    <div class="item wt-100" data-toggle="tooltip" title="Área">
                                        <img src="/img/svg/Icon_material-photo-size-select-small.svg"/>
                                        <div class="txt_info">
                                            {% if entry.M2Menor %}
                                                de {{ entry.M2Menor }} m²
                                            {% endif %}

                                            {% if entry.M2Menor or entry.M2Maior %}{% endif %}
                                            
                                            {% if entry.M2Maior %}
                                                até {{ entry.M2Maior }} m²
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            
                            {% if entry.ValorMenor %}
                                <div class="valor px-1 d-flex text-left">
                                    <span>A partir de <strong>
                                    <div>
                                    <small>R$ </small>{{ entry.ValorMenor|number_format(0, ',', '.') }}</strong></span>
                                    </div>
                                </div>
                            {% endif %}
                             {% if entry.ValorMenor == null %}
                                <div class="valor px-1 d-flex text-left">
                                    <span><strong>
                                    <div>
                                    Consulte-nos</strong></span>
                                    </div>
                                </div>
                            {% endif %}
                            
                        </div>
                    </div>

                    {% if loop.index is divisibleby(2) and entry|length > 5 %}
                    </div> <!-- item duplo -->
                    {% endif %}

                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
                            

<script>
    window.addEventListener('DOMContentLoaded', function() {
        $(document).ready(function() {
            var owl_home_vitrine = $("#owl-home-vitrine2");
            
            owl_home_vitrine.owlCarousel({
                onInitialized : function(element){
                    $('#home-vitrine-locacao').removeClass('d-none');
                    setTimeout(function(){
                        imageToSvgData();
                    }, 3000);
                },     
                loop: false,
                margin: 20,
                nav: true,
                lazyLoad: true,
                navText: ['<i class="fas fa-chevron-left"></i>','<i class="fas fa-chevron-right"></i>'],
                items: 4,
                responsive: {
                    300:{
                        items:1,
                        // nav:true
                        margin: 5
                    },
                    700:{
                        items:2,
                        // nav:true
                    },
                    1000:{
                        items:3,
                        // nav:true
                    },
                    1200:{
                        items:4,
                       
                    },
                    1400:{
                        items:4,
                      
                    },
                    1600:{
                        items:4,
                    
                    }
                }
                
            });
        });
    });
</script>
{% endif %}

{% if content.ExceptionMessage %}
    <div class="col-md-12">
        <h3>{{content.ExceptionMessage}}</h3>
    </div>
{% endif %}
