
<div class="box-endereco col-12 col-md-3 order-1 order-lg-6">
    <h4>
        <i class="fas fa-map-marker-alt"></i>
        <span>Zona Oeste</span>
    </h4>
    <p class="endereco">
        {{siteparam.endereco_zona_oeste}}
    </p>

    <div class="content_tels">
        <div class="ico">
            <a href="https://www.google.com/maps?q=Avenida+das+Am%C3%A9ricas,+13721+-+Gr.+201+Recreio+dos+Bandeirantes+-+RJ&um=1&ie=UTF-8&sa=X&ved=2ahUKEwjctZOQrMPoAhVAIbkGHXEHAcoQ_AUoAXoECBoQAw" target="_blank">
                <img src="/img/svg/google-maps.svg" alt="google-maps" class="tosvg">
            </a>
        </div>
        <ul class="tels">
            <li>
                <i class="fas fa-phone-volume"></i>
                <span>{{siteparam.telefones.zona_oeste_fixo}}</span>
            </li>
            <li>
                <i class="fab fa-whatsapp"></i>
                <span>{{siteparam.telefones.zona_oeste_celular}}</span>
            </li>
        </ul>
    </div>
</div>

<div class="box-endereco col-12 col-md-3 order-1 order-lg-6">
    <h4>
        <i class="fas fa-map-marker-alt"></i>
        <span>Zona Sul</span>
    </h4>
    <p class="endereco">
        {{siteparam.endereco_zona_sul}}
    </p>

    <div class="content_tels">
        <div class="ico">
            <a href="https://www.google.com/maps?q=Rua+Senador+Vergueiro,+40+-+A+Flamengo+-+RJ&um=1&ie=UTF-8&sa=X&ved=2ahUKEwiQ8qmSrMPoAhWlF7kGHcApAtgQ_AUoAXoECA0QAw" target="_blank">
                <img src="/img/svg/google-maps.svg" alt="google-maps" class="tosvg">
            </a>
        </div>
        <ul class="tels">
            <li>
                <i class="fas fa-phone-volume"></i>
                <span>{{siteparam.telefones.zona_sul_fixo}}</span>
            </li>
            <li>
                <i class="fab fa-whatsapp"></i>
                <span>{{siteparam.telefones.zona_sul_celular}}</span>
            </li>
        </ul>
    </div>
</div>

<div class="box-endereco col-12 col-md-3 order-1 order-lg-6">
    <h4>
        <i class="fas fa-map-marker-alt"></i>
        <span>Zona Norte</span>
    </h4>
    <p class="endereco">
         {{siteparam.endereco_zona_norte}}
    </p>

    <div class="content_tels">
        <div class="ico">
            <a href="https://www.google.com/maps?q=Rua+Borda+do+Mato,+4+-+Graja%C3%BA+-+RJ&um=1&ie=UTF-8&sa=X&ved=2ahUKEwiwkL-UrMPoAhW4GbkGHbLiAzAQ_AUoAXoECA0QAw" target="_blank">
                <img src="/img/svg/google-maps.svg" alt="google-maps" class="tosvg">
            </a>
        </div>
        <ul class="tels">
            <li>
                <i class="fas fa-phone-volume"></i>
                <span>{{siteparam.telefones.zona_norte_fixo}}</span>
            </li>
            <li>
                <i class="fab fa-whatsapp"></i>
                <span>{{siteparam.telefones.zona_norte_celular}}</span>
            </li>
        </ul>
    </div>
</div>



