
<div id="formContatoImovel" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-contato">
                {{ csrf_field() }}
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <input type="hidden" name="token" value="{{data.Guest.token|default("")}}" data="false">
                {% if '/lancamento' in url().current() %}
                    <input type="hidden" name="LancamentoID" value="{{item.ID}}" data="true">
                    <input type="hidden" name="Tag" value="contato/empreendimento-interessado">
                {% else %}
                    <input type="hidden" name="ImovelID" value="{{item.ID}}" data="true">
                    <input type="hidden" name="Tag" value="contato/imovel-interessado">
                {% endif %}
                
                <input type="hidden" name="Produto" value="contato/fale-conosco">
                <input type="hidden" name="ProdutoUrlAddress" value="contato/fale-conosco">
                <input type="hidden" name="SiteUrlAddress" value="contato/fale-conosco">
                {% if sitecorretor.Apelido %}<input type="hidden" name="corretor" value="{{sitecorretor.Apelido}}"/>{%endif%}
                
                <div class="formEnviar">
                    <h3>Preencha o formulário abaixo:</h3>
                    <div class="form-group">
                        {# todos os inputs, textarea, checkbox etc precisam ter a classe 'form-control' #}
                        <input class="form-control" type="text" name="Nome" value="{{data.Guest.Nome|default("")}}" placeholder="* Nome" required/>
                    </div>
                    <div class="form-group">
                        <input class="form-control mask-email" type="text" name="Email" value="{{data.Guest.Email|default("")}}" placeholder="* E-mail" required/>
                    </div>
                    <div class="form-group ">
                        <input class="form-control mask-tel" type="text" name="TelResidencial" value="{{data.Guest.TelResidencial|default("")}}" placeholder="DDD + Telefone"/>
                    </div>        
                    <div class="form-group ">
                        <input class="form-control mask-tel" type="text" name="TelCelular" value="{{data.Guest.TelCelular|default("")}}" placeholder="DDD + Celular"/>
                    </div>        
                    <div class="form-group">
                        <textarea name="Mensagem" class="form-control" rows="2"></textarea>
                    </div>        
                    <div class="form-group mb-0">
                        {# o span contato-mss recebe as mensagens de retorno para o usuario #}
                        <div class="row">
                            {# o botao de submit precisa ter a classe 'form-submit'
                            <div class="col-6">
                                <label class="d-flex align-items-center FlagNewsletter">
                                    <input type="checkbox" name="FlagNewsletter" value="true" checked>
                                    <span>Desejo receber novidades por e-mail</span>
                                </label>
                            </div> #}
                            <div class="col-12 text-center">
                                <button class="btn form-control form-submit">Enviar</button>
                            </div>
                        </div>
                        <span class="contato-mss"></span>
                    </div>
                </div>

                <div class="formResposta text-center">
                    <i class="far fa-check-circle"></i>
                    <h2><strong>Mensagem enviada,</strong> breve entraremos em contato.</h2>
                </div>

            </form>
        
        </div>
    </div>
</div>
