{% if item.Imagens %}
    
    <div class="content_secRow galeria mt-3">
        <div class="row">
            <div class="col-sm-12">
                <div class="photos_sec lightGal-{{index}} row mx-0">
                    {% for key, imagem in item.Imagens %}      
                        {% set wm = imagem > 5865 ? '5' : '0'%}
                        <div class="col-md-3 col-6 mb-3 px-2 {{ key > 3  ? 'hide' : ''}}">
                            <div class="galeria-idx-{{key|default("0")}} img_thumb photo_col lightGalItem big" data-src="{{ data.IMG_PATH }}/{{imagem}}.jpg?wm={{wm}}&mh=850">
                                <div style="background-image:url('{{ data.IMG_PATH }}/{{imagem}}.jpg?mh=512&wm={{wm}}');"></div>
                                <img src='{{ data.IMG_PATH }}/{{imagem}}.jpg?mh=128&wm={{wm}}' class="hide">
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-sm-12"> 
                <div class="view_img text-center">
                    <a style="color: #FFFFFF;" class="btn btn-brand ver-todas-{{index}}">Ver Galeria Completa</a>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        window.addEventListener('DOMContentLoaded', function() {
            $(document).ready(function(){
                            
                var $lightGall = $('.lightGal-{{index}}');

                $lightGall.lightGallery({
                  selector: '.lightGalItem ',
                  download: false
                  //exThumbImage: 'data-exthumbimage'
                }); 

                // click faz a galeria abrir com background escuro
                $('.ver-todas-{{index}}').click(function(event) {
                    $('.lightGal-{{index}}').find('.lightGalItem')[0].click();
                });            

            });
        });
    </script>
    
{% endif %}
