
<div class="wrap_share_container">
    <nav class="button-share-container">

        <a target="_blank" href="https://twitter.com/intent/tweet?text=Veja Este imóvel!&url={{url('/')}}{{product_url}}" class="buttons bttwitter" tooltip="Compartilhar no Twitter"> <i class="fa fa-twitter"></i> </a>
        
        <a target="_blank" href="mailto:?subject='Veja este imóvel! + '&body= {{url('/')}}{{product_url}}" class="buttons btemail" tooltip="Enviar por Email"> <i class="fa fa-envelope"></i> </a>
        
        <a target="https://plus.google.com/share?url={{url('/')}}{{product_url}}" href="#" class="buttons btgmais" tooltip="Compartilhar no Google Plus"> <i class="fa fa-google-plus"></i> </a>

        {# <a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url={{url('/')}}{{product_url}}" class="buttons btlinkedin" tooltip="Compartilhar no LikenIn"> <i class="fa fa-linkedin-square"></i> </a> #}
        
        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{url('/')}}{{product_url}}" class="buttons btfacebook" tooltip="Compartilhar no Facebook"> <i class="fa fa-facebook"></i> </a>

        <a class="buttons share_up" href="#" onClick="return false;">
            <span class="buttons" tooltip="Compartilhar">
                <i class="fa fa-share-alt" aria-hidden="true"></i>
              </span>
        </a>

    </nav>
</div>