
<!-- NOVA BUSCA -->

<div id="busca_fixa_mobile">
    <div class="search_box">
    <form name="main-search" class="search-form" id="main-search">

        <!-- OBRIGATORIO -->          
        <input type="hidden" id="InputsFinalidade"          name="Finalidade"           value="{{content.url_local.Finalidade|default("venda")}}">
        <input type="hidden" id="InputsValorMin"            name="ValorMin"             value="0"/>
        <input type="hidden" id="InputsValorMax"            name="ValorMax"             value="5000000"/>
        <input type="hidden" id="InputsAreaMin"             name="AreaMin"              value="0">
        <input type="hidden" id="InputsAreaMax"             name="AreaMax"              value="6000">
        <input type="hidden" id="InputsQtdQuarto"           name="QtdQuarto"            value="{{inputs.QtdQuarto|default("")}}">
        <input type="hidden" id="InputsQtdSuite"            name="QtdSuite"             value="{{inputs.QtdSuite|default("")}}">
        <input type="hidden" id="InputsQtdBanheiro"         name="QtdBanheiro"          value="{{inputs.QtdBanheiro|default("")}}">
        <input type="hidden" id="InputsQtdVaga"             name="QtdVaga"              value="{{inputs.QtdVaga|default("")}}">
        <input type="hidden" id="InputsTipos"               name="Tipos"                value="{{content.url_local.Tipos|default("")}}">
        <input type="hidden" id="InputsCondominioNome"      name="CondominioNome"       value="">
        <input type="hidden" id="InputsEmpreendimentoNome"  name="EmpreendimentoNome"   value="">
        <input type="hidden" id="InputsCaracteristica"      name="Caracteristica"       value="[]">
        <input type="hidden" id="InputsAnuncio"             name="Anuncio"              value="[]">
        <input type="hidden" id="InputsAutoSuggest"         name="AutoSuggest"          value="{{inputs.AutoSuggest|default("")}}">
        <input type="hidden" id="InputsUF"                  name="UF"                   value="{{content.url_local.UF|default("")}}">                
        <input type="hidden" id="InputsHasMapa"             name="HasMapa"              value="false">
        <input type="hidden" id="InputsOrder"               name="Order"                value="">
        <input type="hidden" id="InputsActualPage"          name="Page"                 value="1">
        <input type="hidden" id="InputsPageSize"            name="PageSize"             value="{{inputs.PageSize|default(10)}}">
        <input type="hidden" id="InputsCorretor"            name="NomeCorretor"         value="{{sitecorretor.Nome|default("")}}">      
        
        <div class="search">
            <!-- TOP -->
            <div class="row search-top">
                <div class="control_back">
                    <a href="javascript:void(0);"><i class="fa fa-arrow-left"></i>Fechar Busca</a>
                </div>
                <div class="col-xs-12">
                    <h4>O que você está procurando?</h4>
                </div>

                <div class="col-xs-12">
                    <span class="search_Box1">

                        <div class="switch-toggle switch-skin-1 well">
                            <input id="switch-venda" name="state-d" type="radio" checked="checked">
                            <label for="switch-venda" data-product="imovel" data-fin="venda" class="switch_finalidade" onclick="">Comprar</label>

                            <input id="switch-locacao" name="state-d" type="radio">
                            <label for="switch-locacao" data-product="imovel" data-fin="aluguel" class="switch_finalidade" onclick="">Alugar</label>

                            <input id="switch-lancamentos" name="state-d" type="radio">
                            <label for="switch-lancamentos" data-product="empreendimento" data-fin="lancamentos" class="switch_finalidade" onclick="" >Novos</label>

                            <a class="switch-selected"></a>
                        </div>

                        {#<select name="select_finalidade" class="form-control select_finalidade">
                        	<option value="venda" data-product="imovel" data-fin="venda" class=""> Comprar </option>
                        	<option value="lancamento" data-product="imovel" data-fin="lancamento" class=""> Novos </option>
                        </select>

                        
                        <div>
                        <a href="/venda" 
                           data-product="imovel" data-fin="venda" 
                           class="bt_finalidade col-lg-4 col-md-4 col-sm-4 col-xs-4">Comprar</a>
                        <a href="/aluguel" 
                           data-product="imovel" data-fin="aluguel" 
                           class="bt_finalidade col-lg-4 col-md-4 col-sm-4 col-xs-4" >Alugar</a>
                        <a href="/lancamentos" 
                           data-product="empreendimento" data-fin="lancamentos" 
                           class="bt_finalidade col-lg-4 col-md-4 col-sm-4 col-xs-4" >Novos</a>
                        </div>
                        #}
                    </span>
                </div>         
                
                <div class="col-xs-12">
                    <div class="produto-tipo assoc-prontos">
                        <div class="form_control ">
                            <select class="select-filtro-lateral form-control" data-filtro="InputsTipos" id="Tipos">
                                <option value="" data-value="">Todos os imóveis</option>
                                {% set TipoNatureza = "" %}
                                {% for entry in selectTipos %}
                                    {% if TipoNatureza == entry.Natureza %}{% else %}
                                        <optgroup label="{{entry.Natureza}}">
                                    {% endif %}
                                            <option value="{{entry.Nome|lower}}" data-target="Tipos" data-tag="{{entry.Nome}}" >{{entry.Nome}}</option>
                                            {% set TipoNatureza = entry.Natureza %}
                                    {% if TipoNatureza == entry.Natureza %}{% else %}
                                        </optgroup>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-xs-12">
                    <div class="search_select">
                        <label>Busca por localização</label>
                        {#<input type="text" class="loc-search busca textext-plugin" placeholder="Digite cidade, bairro ou condomínio ..."/>#}
                        <select id="AutoSuggest" style="width: 100%" multiple="multiple"></select>
                    </div>
                </div>


                <div class="col-sm-12 col-xs-12 expand_bottom_inn produto-buscar-codigo">
                    <div class="cod-imovel">
                        <label>Código do Imóvel</label>
                        {#<input type="text" name="codigo" id="Codigo" value="" class="loc-codigo" placeholder="Digite o código do imóvel" />#}
                        <select id="ImovelCodigo" class="loc-codigo"></select>
                    </div>
                </div>

                        
            </div>
            <!-- /TOP -->


            <!-- ADVANCED -->
            <div class="row expand_sec_main" id="busca-avancada-box">
                <!-- box shadow -->
                <div class="expand_sec"></div>
                <!-- adv top -->
                <div class="expand_top">
                
                    <div class="col-sm-6 col-xs-6 form-group group-select">
                        <label>Quarto(s)</label>
                        <div id="QtdQuarto" name="QtdQuarto" data-filtro="QtdQuarto" class="form-control select-to-check" tabindex="1">
                            <span class="titulo"><span class="qtd"></span> <span class="ttfiltro">Quarto(s)</span> <i class="fa fa-sort-down pull-right"></i>
                        </div>
                        <div id="divQuarto" class="filtro-check check-quartos box-filtro" data-filtro="InputsQtdQuarto">
                            <span class="titulo"><span class="qtd"></span> <span class="ttfiltro">Quarto(s)</span> <i class="fa fa-sort-up pull-right"></i></span>
                            <ul class="opcoes-check unstyled pull-left">
                                <li><input type="checkbox" value="1" class="search-checkbox" data-target="QtdQuarto" id="quarto1"><label for="quarto1">1</label></li>
                                <li><input type="checkbox" value="2" class="search-checkbox" data-target="QtdQuarto" id="quarto2"><label for="quarto2">2</label></li>
                                <li><input type="checkbox" value="3" class="search-checkbox" data-target="QtdQuarto" id="quarto3"><label for="quarto3">3</label></li>
                                <li><input type="checkbox" value="4" class="search-checkbox" data-target="QtdQuarto" id="quarto4"><label for="quarto4">4 ou mais</label></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-sm-6 col-xs-6 form-group group-select">
                        <label>Suíte(s)</label>
                        <div id="QtdSuite" name="QtdSuite" data-filtro="QtdSuite" class="form-control select-to-check" tabindex="2">
                            <span class="titulo"><span class="qtd"></span> <span class="ttfiltro">Suíte(s)</span> <i class="fa fa-sort-down pull-right"></i>
                        </div>
                        <div id="divSuite" class="filtro-check check-suites box-filtro" data-filtro="InputsQtdSuite">
                            <span class="titulo"><span class="qtd"></span> <span class="ttfiltro">Suíte(s)</span> <i class="fa fa-sort-up pull-right"></i></span>
                            <ul class="opcoes-check unstyled pull-left">
                                <li><input type="checkbox" value="1" class="search-checkbox" data-target="QtdSuite" id="suite1"><label for="suite1">1</label></li>
                                <li><input type="checkbox" value="2" class="search-checkbox" data-target="QtdSuite" id="suite2"><label for="suite2">2</label></li>
                                <li><input type="checkbox" value="3" class="search-checkbox" data-target="QtdSuite" id="suite3"><label for="suite3">3</label></li>
                                <li><input type="checkbox" value="4" class="search-checkbox" data-target="QtdSuite" id="suite4"><label for="suite4">4 ou mais</label></li>
                            </ul>
                        </div>

                    </div>

                    <div class="col-sm-6 col-xs-6 form-group group-select">
                        <label>Banheiro(s)</label>
                        <div id="QtdBanheiro" name="QtdBanheiro" data-filtro="QtdBanheiro" class="form-control select-to-check" tabindex="3">
                            <span class="titulo"><span class="qtd"></span> <span class="ttfiltro">Banheiro(s)</span> <i class="fa fa-sort-down pull-right"></i>
                        </div>
                        <div id="divBanheiro" class="filtro-check check-wctotal box-filtro" data-filtro="InputsQtdBanheiro">
                            <span class="titulo"><span class="qtd"></span> <span class="ttfiltro">Banheiro(s)</span> <i class="fa fa-sort-up pull-right"></i></span>
                            <ul class="opcoes-check unstyled pull-left">
                                <li><input type="checkbox" value="1" class="search-checkbox" data-target="QtdBanheiro" id="wc1"><label for="wc1">1</label></li>
                                <li><input type="checkbox" value="2" class="search-checkbox" data-target="QtdBanheiro" id="wc2"><label for="wc2">2</label></li>
                                <li><input type="checkbox" value="3" class="search-checkbox" data-target="QtdBanheiro" id="wc3"><label for="wc3">3</label></li>
                                <li><input type="checkbox" value="4" class="search-checkbox" data-target="QtdBanheiro" id="wc4"><label for="wc4">4 ou mais</label></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-sm-6 col-xs-6 form-group group-select">
                        <label>Vaga(s)</label>
                        <div id="QtdVaga" name="QtdVaga" data-filtro="QtdVaga" class="form-control select-to-check" tabindex="4">
                            <span class="titulo"><span class="qtd"></span> <span class="ttfiltro">Vaga(s)</span> <i class="fa fa-sort-down pull-right"></i>
                        </div>
                        <div id="divQtdVaga" class="filtro-check check-vaga box-filtro" data-filtro="InputsQtdVaga">
                            <span class="titulo"><span class="qtd"></span> <span class="ttfiltro">Vaga(s)</span> <i class="fa fa-sort-up pull-right"></i></span>
                            <ul class="opcoes-check unstyled pull-left">
                                <li><input type="checkbox" value="1" class="search-checkbox" data-target="QtdVaga" id="vaga1"><label for="vaga1">1</label></li>
                                <li><input type="checkbox" value="2" class="search-checkbox" data-target="QtdVaga" id="vaga2"><label for="vaga2">2</label></li>
                                <li><input type="checkbox" value="3" class="search-checkbox" data-target="QtdVaga" id="vaga3"><label for="vaga3">3</label></li>
                                <li><input type="checkbox" value="4" class="search-checkbox" data-target="QtdVaga" id="vaga4"><label for="vaga4">4 ou mais</label></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-sm-12 col-xs-12 valor">
                        <label>Valor</label>
                        <div id="slider-range-valor" class="blue"></div>
                        <div class="half_3">
                            <input type="text" name="" id="input-number-min"
                                   class="input-sm input-range-valor input-min"
                                   value="{{inputs.ValorMin|default("0")}}" tabindex="5"/>
                        </div>
                        <div class="half_4">
                            <input type="text" name="" id="input-number-max"
                                   class="input-sm input-range-valor input-max"
                                   value="{{inputs.ValorMax|default("5000000")}}" tabindex="6"/>
                        </div>
                    </div>

                    <div class="col-sm-12 col-xs-12 area">
                        <label>Área M2</label>
                        <div id="slider-range-area" class="blue"></div>
                        <div class="half_5">
                            <input type="text" name="" id="input-area-min"
                                   class="input-sm input-range-area input-min"
                                   value="{{inputs.AreaMin|default("0")}}" tabindex="7"/>
                        </div>
                        <div class="half_6">
                            <input type="text" name="" id="input-area-max"
                                   class="input-sm input-range-area input-max"
                                   value="{{inputs.AreaMax|default("6000")}}" tabindex="8"/>
                        </div>
                    </div>

                </div>
            </div>
            <!-- /ADVANCED -->

            <!-- BOTTOM -->
            <div class="search_bottm">
                
                    {#{% if actual_page == 'page-home' %}
                    <div class="col-sm-12 col-xs-12 ttlegend hide">
                        <strong>Podemos te ajudar a</strong>
                        <a href="/contato/anuncie-seu-imovel" class="btn-vendaseuimovel" id="btn-vender-imovel" tabindex="10">Anuncie seu imóvel!</a>
                    </div>
                    {% else %}
                    <div class="col-sm-12 col-xs-12 ttcount-box hide">
                        <strong><span class="ttcount" id="lista-totalcount">0</span> imóveis encontrados</strong>
                    </div>
                    {% endif %}
                    <div class="col-sm-6 col-xs-6">
                        <a id="toggle-busca-avancada">Busca Avançada <i class="fa fa-chevron-down"></i><i class="fa fa-chevron-up hide"></i></a>
                    </div>#}

                    <a onclick="doSearch()" class="bt-buscar" id="bt-busca-avancada" tabindex="9">Buscar</a>
            </div>
            <!-- /BOTTOM -->
            
        </div>

    </form>
</div>
</div>

<!-- NOVA BUSCA -->

<script>
$( document ).ready(function() {
    {% if inputs %}
        $('#busca-avancada-box').css('display','block');
    {% endif %}
    
    // $("#toggle-busca-avancada").click(function(){
    //     $(".navbar-search-box").toggleClass("overflow-search");
    //     $("#toggle-busca-avancada .fa-chevron-down").toggleClass("hide");
    //     $("#toggle-busca-avancada .fa-chevron-up").toggleClass("hide");
    //     $( "#busca-avancada-box" ).slideToggle( "slow", function() {
    //       // Animation complete.
    //     });        
    // });

    $('#open_busca, .control_back a').click(function(event) {
        $('#busca_fixa_mobile').toggleClass('opened');
        $('body').toggleClass('no_scroll');
    });


    $(".select_finalidade").change(function(e){
        var elem = $(this);

        $("#InputsFinalidade").val(elem.val());

        // zera a paginacao
        resetPage();
    });
    
});
</script>

