{# ARQUIVO CORE / NÃO ALTERAR #}
{# ARQUIVO CORE / NÃO ALTERAR #}
{# ARQUIVO CORE / NÃO ALTERAR #}
{# ARQUIVO CORE / NÃO ALTERAR #}
{# ARQUIVO CORE / NÃO ALTERAR #}

{% if content is not null %}

<div class="vitrine emp_vitrine home-vitrine-imoveis" id="home-vitrine-empreendimentos">
    <div class="container">

        <h2>Lançamentos em Destaque</h2>

        <div class="product_item_sec row mx-0">
            
            <div class="col-sm-12 px-0 px-md-3">
                <div id="owl-home-vitrine2" class="owl-carousel">
                {% for entry in content.Itens %}

                    {% if ( loop.index == 1 or loop.index0 is divisibleby(2) ) and entry|length > 5 %}
                    <div class="item"> <!-- item duplo -->
                    {% endif %}

                    {% set image_url = data.IMG_PATH ~ "/thumb/" ~ entry.ID ~ ".jpg" %}
                    {% if entry.UrlTrack %}
                        {% set product_url = "/lancamento/" ~ entry.UrlTrack ~ "/ID-" ~ entry.ID %}
                    {% else %}
                        {% set product_url = "/lancamento/oferta/ID-" ~ entry.ID %}
                    {% endif %}

                    <div class="product_itemBx mb-4 item-id-{{entry.ID}}"><!-- item unico -->

                        <div class="product_itemBxTop">
                            <a class="vit_link_foto" href="{{product_url}}">
                                <div class="pdct_pic">
                                    <div class="vitrine-venda-img owl-lazy" data-src="{{entry.ImageUrl}}">
                                        <div class="hover_img"></div>        
                                        <div class="statustag tag_obra">
                                            <span class="text"> <i class="fas fa-map-marker-alt"></i> {{entry.BairroNome}}</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="product_itemBxBot">
                            
                            <div class="tipos text-center">{{entry.Tipos|default(entry.TipoNome)}}</div>
                            <h3 class="text-center">{{ entry.Nome ? entry.Nome : entry.NaturezaNome }}</h3>
                            
                            <div class="content_imv_caract row mx-0 justify-content-center">
                                {% if entry.Quartos %}
                                    <div class="col-4 item px-1">
                                        <div class="icon text-center">
                                            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="/img/svg/quartos.svg" class="tosvgdata">
                                        </div>
                                        <div class="qtd">
                                            {{entry.Quartos}}
                                        </div>
                                    </div>
                                {% endif %}
                                
                                {% if entry.M2Menor or entry.M2Maior %}
                                    <div class="col-8 item px-1 d-flex justify-content-center align-items-center" data-toggle="tooltip" title="Área">
                                        <div class="emp_icon_wrap mr-2 d-inline-block d-md-inline-block">
                                            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="/img/svg/area.svg" alt="" class="tosvgdata">
                                        </div>
                                        <div class="pull-left txt_info">
                                            {% if entry.M2Menor %}
                                                de {{ entry.M2Menor }} m<sup>2</sup>
                                            {% endif %}

                                            {% if entry.M2Menor or entry.M2Maior %}<br/>{% endif %}
                                            
                                            {% if entry.M2Maior %}
                                                até {{ entry.M2Maior }} m<sup>2</sup>
                                            {% endif %}
                                        </div>
                                        
                                    </div>
                                {% endif %}
                                
                                
                            </div>
                            
                            {% if entry.ValorMenor %}
                                <div class="valor">
                                    <span>A partir de <strong><small>R$ </small>{{ entry.ValorMenor|number_format(0, ',', '.') }}</strong></span>
                                </div>
                            {% endif %}

                            <div class="text-center wrapper_btn_more">
                                <a class="bt-saibamais" href="{{product_url}}">Quero Conhecer</a>
                            </div>
                            
                        </div>

                    </div>

                    {% if loop.index is divisibleby(2) and entry|length > 5 %}
                    </div> <!-- item duplo -->
                    {% endif %}

                {% endfor %}
                </div>
            </div>
            

        </div>
    </div>
</div>
                            

<script>
    window.addEventListener('DOMContentLoaded', function() {
        $(document).ready(function() {
            var owl_home_vitrine = $("#owl-home-vitrine2");
            
            owl_home_vitrine.owlCarousel({
                onInitialized : function(element){
                    setTimeout(function(){
                        imageToSvgData();
                    }, 3000);
                },     
                loop: false,
                margin: 20,
                // nav: true,
                lazyLoad: true,
                navText: ['<i class="fas fa-chevron-left"></i>','<i class="fas fa-chevron-right"></i>'],
                items: 4,
                responsive: {
                    300:{
                        items:1,
                        // nav:true
                        margin: 5
                    },
                    700:{
                        items:2,
                        // nav:true
                    },
                    1000:{
                        items:3,
                        // nav:true
                    },
                    1200:{
                        items:4,
                        // nav:true
                    },
                    1400:{
                        items:4,
                        // nav:true
                    },
                    1600:{
                        items:4,
                        // nav:true
                    }
                }
                
            });
        });
    });
</script>
{% endif %}

{% if content.ExceptionMessage %}
    <div class="col-md-12">
        <h3>{{content.ExceptionMessage}}</h3>
    </div>
{% endif %}

{# ARQUIVO CORE / NÃO ALTERAR #}
{# ARQUIVO CORE / NÃO ALTERAR #}
{# ARQUIVO CORE / NÃO ALTERAR #}
{# ARQUIVO CORE / NÃO ALTERAR #}
{# ARQUIVO CORE / NÃO ALTERAR #}
