{# ARQUIVO CORE / NÃO ALTERAR #}
{# ARQUIVO CORE / NÃO ALTERAR #}
{# ARQUIVO CORE / NÃO ALTERAR #}
{# ARQUIVO CORE / NÃO ALTERAR #}
{# ARQUIVO CORE / NÃO ALTERAR #}


<head>
    <link rel="icon" href="{{asset('/img/favicon.png')}}">
    <meta charset="UTF-8">
    <title>Site em Manutenção | {{ APP_NAME }}</title>    
      
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    
    <meta name="description" content="{{ html_header_description|raw|default( APP_NAME ~ " | Imóveis, apartamentos, casas, terrenos, compra, venda e aluguel.") }}"/>
    <meta name="keywords" content="{{ html_header_description|raw|default("Imóveis, apartamentos, casas, terrenos, compra, venda e aluguel.") }}"/>

    <!-- BASE CSS -->
    <link href="{{ mix('/css/base.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ mix('/css/header.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ mix('/css/footer.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ mix('/css/busca.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ mix('/css/pages.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ mix('/css/mobile.css') }}" rel="stylesheet" type="text/css" />
    <!-- CUSTOM CSS -->
    <link href="{{ mix('/css/_theme.css') }}" rel="stylesheet" type="text/css" /> 
    
    <!-- Bootstrap 3.3.7 CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css" />        

</head>

<body class="page page-manut  ">
    <div class="wrapper">
        <!-- Main Header -->
        <header></header>
    </div>


    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container">
                <ol class="breadcrumb"></ol>
            </div>

            <div class="main_title">
                <div class="container">
                    <h1><div class="hide">Página de Erro</div><small><div class="hide">Página de Erro</div></small></h1>
                </div>                            
            </div>                          
        </section>

        <section class="content">
             <!-- CONTENT -->                                            
            <div class="spark-screen">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">                                
                            <h1>Ops! <strong>O site está temporariamente em manutenção.</strong></h1>
                            <p>Por favor, aguarde alguns instantes. Estaremos de volta em breve</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <footer class="footer-main"></footer>
</body>
        

{# ARQUIVO CORE / NÃO ALTERAR #}
{# ARQUIVO CORE / NÃO ALTERAR #}
{# ARQUIVO CORE / NÃO ALTERAR #}
{# ARQUIVO CORE / NÃO ALTERAR #}
{# ARQUIVO CORE / NÃO ALTERAR #}
