
<!-- Content Header (Page header) -->
    <section class="content-header d-none d-xl-block">

        
        {% set bg_style = bg_header_title ?  "background-image: url( " ~ bg_header_title ~ ")" : "" %}
        
        {% if (content_header_title) %}
            <div class="section_main_title" style="{{bg_style}}">
                <div class="container">
                    <h1>
                        {{ content_header_title|raw }}
                        <small>{{ content_header_description|raw }}</small>
                    </h1>
                </div>
            </div>
        {% endif %}

        <div class="wrapper_bread">
            <div class="container">
                {% if (content_header_breadcrumb) %}
                <ol class="breadcrumb">
                    <li><a href="/home">Página Inicial</a></li>
                    {{ content_header_breadcrumb|raw }}
                </ol>
                {% endif %}
                {{ content_share_bread|raw }}
            </div>
        </div>
    </section>


