
{# LANCAMENTOS #}
{% set item = content %}

{% set slickslider = 'true' %}

<div class="bg-lancamento d-none d-lg-block"></div>

<div id="product-content" class="lancamento-content">
    <div class="row mx-0">
        <div class="col-12 col-lg-8">
            
            <div class="lightGalDestaque">
                <div class="row-box destaque item" style="background: url('{{IMG_PATH}}/{{item.ImageCapa}}.jpg?wm=5') center center; background-size: cover;" data-src="{{IMG_PATH}}/{{item.ImageCapa}}.jpg?wm=5">
                    {% if siteparam.favoritos == 'true' %}
                        <div class="icon-favoritos">
                            <div class="btn-favoritos" onclick="addFav({{item.ID}})">
                                {# <span>Adicionar aos Favoritos</span>
                                <i class="fa fa-heart heart-{{item.ID}}"></i>
                                <i class="fa fa-heart animated heart-{{item.ID}}"></i> #}
                            </div>
                        </div>
                        <input type="text" class="hide produto-favorito prod-id-{{item.ID}}" value='{"ID":"{{item.ID}}", 
                           "M2Menor":"{{item.M2Menor}}", "M2Maior":"{{item.M2Maior}}", "Nome":"{{item.Nome}}", 
                           "Tipos":"{{item.Tipos}}", "BairroNome":"{{item.BairroNome}}", "QtdSuite":"{{item.QtdSuite}}", 
                            "QtdQuarto":"{{item.QtdQuarto|join(', ')}}", "QtdWcTotal":"{{item.QtdWcTotal}}", "QtdVaga":"{{item.QtdVaga}}",
                           "ImagemDestaque":"{{IMG_PATH}}/{{item.ImageCapa}}.jpg?wm=5", "Lancamento": "true" }'>
                    {% endif %}

                    <img src="{{IMG_PATH}}/{{item.ImageCapa}}.jpg" alt="" class="hide">

                    <div class="status {{item.statusClass}}">
                        {{item.StatusNome}}
                    </div>
                </div>
                
            </div>

            <!-- INFORMACOES -->
            <div class="box-details">
                <div class="row-box basic-info">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <h1 class="pull-left">
                                <p class="logradouro">{{item.Nome}}</p>
                            </h1>
                        </div>
                    </div>

                    <div class="row mx-0">
                        {# Localizacao #}
                        <div class="regiao col-12 order-1 order-xl-1">
                            <span><i class="fas fa-map-marker-alt"></i> {{item.Localizacao != '' ? item.Localizacao ~ ', ' : ''}} {{item.BairroNome != '' ? item.BairroNome ~ ', ' : ''}} {{item.CidadeNome != '' ? item.CidadeNome ~ ' - ' : ''}} {{item.EstadoSigla}}</span>
                            {# <span>{{item.Logradouro}} em {{item.BairroNome}}, {{item.CidadeNome}} - {{item.EstadoSigla}}</span> #}
                        </div>
                        
                    {# Valor do imovel #}
                    <div class="content_value col-12 col-xl-6 order-2 order-xl-1">
                        
                        {% if item.ValorMenor %}
                            {% if item.ValorMenor > 0 %}
                                <div class="posvalue-imovel valor_imv d-flex justify-content-center my-2">
                                    <span><i class="fas fa-dollar-sign"></i> <span class="sufix"></span> Venda a partir de: </span>
                                    <span class="val destak ml-1"> R$ {{item.ValorMenor|number_format(0,',','.')}}</span>
                                </div>
                            {% else %}
                                <div class="posvalue-imovel valor_imv">
                                    <span>Consulte-nos</span>
                                </div>
                            {% endif %}
                        {% endif %}
                      
                    </div>
    
                        {# quartos e etc #}
                        <div class="content_infos_qtd col-12 order-1 order-xl-1 empreendimento">
                            {% if item.QtdQuarto %}
                                <div class="item_info">
                                    <div class="icon_wrap">
                                        <img src="/img/svg/quartos.svg" class="tosvg">
                                    </div>
                                    <div class="text-info">
                                        <span class="quartos">
                                            <span class="d-block">{{item.QtdQuarto|join(', ')}} </span>
                                            <span>Quartos</span>
                                        </span>
                                        {% if item.QtdSuite %}
                                            <span> sendo <strong>{{item.QtdSuite}}</strong> {{ item.QtdSuite > 1 ? 'Suítes' : 'Suíte'}}</span>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                            
                            
                            {# {% if item.M2Menor or M2Maior %}
                                <div class="item_info">
                                    <div class="icon_wrap">
                                        <img src="/img/svg/area.svg" class="tosvg">
                                    </div>
                                    <span>
                                        {% if item.M2Menor %}
                                        <span>de </span>{{item.M2Menor}}m²
                                        {% endif %}
                                        {% if item.M2Menor %}
                                        <span>até </span>{{item.M2Maior}}m²
                                        {% endif %}
                                    </span>
                                    <span class="text-info">Área Útil</span>
                                </div>
                            {% endif %} #}
    
                            {% if item.M2Menor or M2Maior %}
                                <div class="item_info">
                                    <div class="icon_wrap">
                                        <img src="/img/svg/area.svg" class="tosvg">
                                    </div>
                                    <span>
                                        {% if item.M2Menor %}
                                        <span>de </span>{{item.M2Menor}}m²
                                        {% endif %}
                                        {% if item.M2Menor %}
                                        <span>até </span>{{item.M2Maior}}m²
                                        {% endif %}
                                    </span>
                                    <span class="text-info">Área Útil</span>
                                </div>
                            {% endif %}
                        </div>
    
                    </div>

                </div>        
                      

                {% if item.Video %}
                    <div class="row-box video">
                        <!-- VIDEO -->
                        <div class="col-sm-12 col-xs-12 ">
                            <div class="row-box video">
                                <div class="conteudo">
                                    <h3>Video</h3>
                                    <iframe width="420" height="315" src="{{item.Video}}"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                
                {% if item.Descricao != '' %}
                    <div class="row-box descricao row mx-0">
                        <div class="row-box descriptions">
                            <div class="descript">
                                <h3>Descrição</h3>
                                <div class="descricao_corpo_txt">
                                    {{item.Descricao|raw}}
                                </div>

                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if item.Topicos %}
                    <!-- TOPICOS -->
                    <div class="topicos">
                        {% for key,item in item.Topicos if item.Nome != 'Localização' %}
                            <div class="row-box topics topics-{{key}}">
                                <div class="topic-descript">
                                    <h3>{{item.Nome}}</h3>
                                    <span>{{item.Descricao|raw}}</span>
                                </div>
                                {% if item.Imagens %}
                                    <div class="topic-gallery">
                                        <div class="row-box gallery-list">    
                                            {% include ['custom.helpers.slide-light-gal','core.helpers.slide-light-gal'] with {index:key, item:item, data:data} %}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="container d-flex justify-content-center">
                                <a class="btn btn-brand d-md-none" href="#contact" style="color: #FFFFFF;">
                                    Entrar em contato
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                
            </div>
            
            {% if item.MapaLatitude and item.MapaLongitude %}
                <!-- MAPA -->
                <div class="col-12">
                    <div class="row-box maps">
                        <h3>Localização</h3>
                        <span class="d-block mt-3 mb-3">
                            <i class="fas fa-map-marker-alt"></i> 
                            <span> {{item.Localizacao}}</span>
                        </span>
                        <div id="map_canvas"></div>
                    </div>
                </div>
            {% endif %}
        </div>

        <!-- CONTATAR -->
        <div class="col-12 col-lg-4 content_form" id="contact">
            <div class="affix-anchor">
                <div class="affix-child contact">

                    {% include ['custom.helpers.formulario-interessado','core.helpers.formulario-interessado'] %}
                     
                </div>

            </div>              
        </div>
    
    </div>
    {% if relacionados.content %}
        <div class="row">
            <div class="row-box">
                <h3>Você também pode gostar:</h3>
            </div>
            {% include ['custom.helpers.relacionados', 'core.helpers.relacionados'] with { relacionados : relacionados} %}
            
        </div>
    {% endif %}
</div>

<!-- END CONTENT -->
<script type="text/javascript">
    window.addEventListener('DOMContentLoaded', function() {
        // incia o slide da galeria // dispara o evento do click na imagem do slick de indice zero = imagem da galeria
        $("#COD{{item.id}}").click(function(){
            $(".galeria-0 [data-slick-index=0]").trigger("click");
        });
        
        
        $('#product-content .slider-case').slick({
            asNavFor: '#product-content .slides',
            slidesToShow: 1,
            slidesToScroll: 1,
            arrows: false,
            fade: true
        });  
        $("#product-content .slides").slick({
            asNavFor: '#product-content .slider-case',
            slidesToShow: 3, 
            slidesToScroll: 1,
            centerMode: true,
            focusOnSelect: true,
            nextArrow: '<i class="fa fa-chevron-right"></i>',
            prevArrow: '<i class="fa fa-chevron-left"></i>'
        });  
    });
</script>

{% if siteparam.googlemapskey %}
    {% set endereco = item.Logradouro ~ ' - ' ~ item.BairroNome ~ ', ' ~ item.CidadeNome ~ ', ' ~ item.EstadoSigla ~ ', Brasil' %}
    {% include ['custom.helpers.google-maps', 'core.helpers.google-maps'] with {
        latitude: item.MapaLatitude,
        longitude: item.MapaLongitude,
        endereco: endereco,
        cor: '#15335c'
    } only %}
{% else %}
    {% include ['custom.helpers.opensource-maps', 'core.helpers.opensource-maps'] with { 
        latitude: item.MapaLatitude,
        longitude: item.MapaLongitude,
        cor: '#15335c'
    } only %}
{% endif %}

